.card, .c-body{
    margin-bottom: var(--content-spacer);
}

.card {
    padding: 0;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;

    filter: brightness(75%);
    transition: transform .5s ease;
}

@media (max-width: 990px) {
    .card-img-top {
        height: 30vw;
    }
}

.card-text-overlay {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: unset;
    color: white;
}


