.card, .c-body{
    margin-bottom: 5vh;
}

.card {
    padding: 0;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    max-height: 15vw;
    object-fit: cover;

    filter: brightness(75%);
    transition: transform .5s ease;
}

.card-text-overlay {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: unset;
    color: white;
}


