/*.card {*/
/*    background-color: initial;*/
/*    color: initial;*/
/*}*/

/*.dropdown-menu {*/
/*    color: initial;*/
/*    background-color: initial;*/
/*}*/

.card {
    z-index: 1;
}

.datetimepicker-input .input-group-append {
    z-index: -1;
}

input {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}

.activity_btn {
    width: 100%;
}

.activity_btn p {
    float: left;
    margin-bottom: 0px;
}

.activity_btn i {
    float: right;
}

#membershipDisplay {
    padding: .75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    line-height: 1.5;
}

#membershipDisplay p {
    margin-bottom: 0px;
}

.fc-left .fc-button-group {
    /*justify-content: flex-start;*/
    float: left;
}
.fc-center h2 {
    text-align: center;
}
.fc-right .fc-button-group {
    /*justify-content: flex-end;*/
    float: right;
}

@media (max-width: 768px){
    .fc-left, .fc-center h2, .fc-right {
        display: flex;
        justify-content: center;
        float: none;
    }
}

.progress-bar {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#calendar {
    background-color: white;
}

.fc-toolbar {
    background-color: white;
    padding: 1vh 0;
}

#bulk-buy {
    margin-bottom: 3vh;
}

#bulk-top {
    width: 100%;
}

#bulk-top p {
    float: left;
    margin-bottom: 0px;
}

#bulk-top i {
    float: right;
}

#bulk-bottom {
    margin-bottom: 2vh;
}

.bulk-bottom p {
    margin-bottom: 0;
}

.divider {
    width: 100%;
    padding: 1vh 0;
    border: 0;
    border-top: 1px solid #cccccc;
}

.card-header {
    background-color: white;
}

.card-header p, .card-header i {
    color: black;
}

.card-header i {
    padding-top: 0.25rem;
}

select.filter{
  width: 100% !important;
}