.card, .c-body{
    margin-bottom: var(--content-spacer);
}

.card {
    padding: 0;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    transition: all 1s ease;
    -webkit-filter: brightness(70%) blur(0px); /* Chrome, Safari, Opera */
    filter: brightness(70%) blur(0px);
    transform: scale(1);
}

.card:hover > *:not(.card-img-overlay) {
    transition: all 1s ease;
    -webkit-filter: brightness(70%) blur(2px); /* Chrome, Safari, Opera */
    filter: brightness(70%) blur(2px);
    transform: scale(1.1);
}

@media (max-width: 990px) {
    .card-img-top {
        height: 30vw;
    }
}

.card-text-overlay {
    /*font-family: 'Poppins', sans-serif;*/
    /*font-weight: 600;*/
    /*letter-spacing: 1px;*/
    /*text-transform: unset;*/
    color: white;
}


