.datetimepicker-input .input-group-append {
    z-index: -1;
}

input {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  padding: 12px 10px;
  text-align: center;
  width: 250px;
}

.fc-left .fc-button-group {
    /*justify-content: flex-start;*/
    float: left;
}
.fc-center h2 {
    text-align: center;
}
.fc-right .fc-button-group {
    /*justify-content: flex-end;*/
    float: right;
}

@media (max-width: 768px){
    .fc-left, .fc-center h2, .fc-right {
        display: flex;
        justify-content: center;
        float: none;
    }
}

.progress-bar {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#calendar {
    background-color: white;
}

.fc-toolbar {
    background-color: white;
    padding: 1vh 0;
}

#bulk-buy {
    margin-bottom: 3vh;
}

#bulk-top {
    width: 100%;
}

#bulk-top p {
    float: left;
    margin-bottom: 0px;
}

#bulk-top i {
    float: right;
}

#bulk-bottom {
    margin-bottom: 2vh;
}

.bulk-bottom p {
    margin-bottom: 0;
}

.divider {
    width: 100%;
    padding: 1vh 0;
    border: 0;
    border-top: 1px solid #cccccc;
}

.card-header {
    background-color: white;
}

.card-header p, .card-header i {
    color: black;
}

.card-header i {
    padding-top: 0.25rem;
}

#descriptionContainer {
    min-height: 30vh;
    margin-bottom: 3vh;
    color: var(--secondary-color);
    background-color: #EEEEEE;
}

#descriptionContainer img {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 4vh;
}

#descriptionTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: unset;
}

@media (max-width: 768px){
    #descriptionTextbox {
        text-align: center;  /* Description box aligns left on medium-up, aligns center below medium */
    }
}

/*#page_title h1 {*/
/*    padding: 3vh 0;*/
/*    padding-bottom: 0;*/
/*    line-height: 10vh;*/
/*    text-align: center;*/
/*}*/