{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account/basket.css') }}">
{% endblock %}

{% block title %}
Your Basket
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="content-container col-12 col-lg-8">
        <h1>Basket Items</h1>
        <table class="table">
            <thead>
                <th class="col-2">Item</th>
                <th class="col">Quantity</th>
                <th class="col-2">Discount</th>
                <th class="col">Total</th>
            </thead>
            <tbody>
                {% if basket_membership %}
                <form action="/account/basket" method="post" id="booking_item_{{basket_membership.membership_id}}">
                <tr>
                    <td>
                        <h6>{{ basket_membership.name.capitalize() }} Membership</h6>
                        Duration: {{ basket_membership_duration }} Month<br>
                        Start Date: {{ basket_membership.start_time }}<br>
                        End Date: {{ basket_membership.end_time }}.<br>
                        <input type="hidden" name="delete" id="delete" value="booking_item_{{basket_membership.membership_id}}">
                        <input type="submit" id="delete_btn" onclick="delete_item()" value="Delete" class="btn btn-secondary" required>
                    </td>
                    <td>1</td>
                    <td>None</td>
                    <td>£{{ basket_membership_duration * basket_membership.monthly_price }}</td>
                </tr>
                {% endif %}
                {% if basket_activities %}
                    {% for activity, (session_price, num_bookings, regular_discount) in activity_and_price.items() %}
                    <tr>
                        <form action="/account/basket" method="post" id="booking_item_{{activity.activity_id}}">
                            <td>
                                <h6>{{ activity.activity_type.name.capitalize() }}</h6>
                                Facility: {{ activity.facility.name.capitalize() }}<br>
                                Date: {{ activity.start_time.strftime("%m/%y") }}<br>
                                Time: {{ activity.start_time.strftime("%H:%M") }} - {{ activity.end_time.strftime("%H:%M") }}<br>
                                <input type="hidden" name="delete" id="delete" value="booking_item_{{activity.activity_id}}">
                                <input type="hidden" name="booking_id" value="A:{{activity.activity_id}}">
                                <input type="button" id="cancel_btn" onclick="edit()" value="Cancel" class="btn btn-secondary" required>
                                <input type="submit" id="submit_btn" name="update" value="Update" class="btn btn-primary">
                                <input type="submit" id="delete_btn" onclick="delete_item()" value="Delete" class="btn btn-secondary" required>
                                <input type="button" id="edit_btn" onclick="edit()" value="Edit" class="btn btn-secondary" required>
                            </td>
                            <td>
                                <input type="number" id="num_change" name="num_change" max="8" min="0" value="{{num_bookings}}" class="form-control-plaintext" readonly>
                            </td>
                            <td>{{ regular_discount }}%</td>
                            <td>£{{ (num_bookings * session_price) - (num_bookings * session_price * regular_discount / 100) }}</td>
                        </form>
                    </tr>
                    <tr>
                        <td>
                            <form method="post">
                            <input type="submit" name="delete_basket" value="Delete all items" class="btn btn-secondary">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <div id="summary" class="content-container col-12 col-lg-4">
        <h1>Order Summary</h1>
        {% if current_membership_discount %}
            <h6>Pre-discount Item Total:</h6>
        {% else %}
            <h6>Total Payable:</h6>
        {% endif %}
        {% if basket_membership and basket_activities %}
            <p>£{{(basket_membership_duration * basket_membership.monthly_price) + total_activity_price}}</p>
        {% elif basket_activities %}
            <p>£{{total_activity_price}}</p>
        {% elif basket_membership %}
            <p>£{{ basket_membership_duration * basket_membership.monthly_price}}</p>
        {% else %}
            <p>£0</p>
        {% endif %}
        {% if current_membership_discount and basket_activities %}
            <h6>Member Discounts:</h6>
            <p>{{current_membership_discount}}% on all Activities</p>
            <p>-£{{ (current_membership_discount/100) * total_activity_price }}</p>
            <h6>Total Payable:</h6>
            <p>£{{final_price}}</p>
        {% endif %}

        {% if basket_membership or basket_activities %}
            <form method="post" action="/transactions/pay-card">
                <input type="submit" name="submit" value="Pay By Card" class="btn btn-primary">
                <input type="hidden" name="checkout" value="user_has_checkout">
                <input type="hidden" name="total_price" value="{{final_price}}">
                <input type="hidden" name="payment_type" value="card">
            </form>

            {% if User.__mapper_args__ ['polymorphic_identity'] != "Customer" %}
            <form method="post" action="/transactions/pay-card">
                <input type="submit" name="submit" value="Pay With Cash" class="btn btn-primary">
                <input type="hidden" name="checkout" value="user_has_checkout">
                <input type="hidden" name="total_price" value="{{final_price}}">
                <input type="hidden" name="payment_type" value="cash">
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block additional_js %}
<script src="../../static/js/basket.js"> </script>
<script>
    let edit_state = false;

    function delete_item(){
        document.getElementById("num_change").setAttribute("value","0");
        const id = document.getElementById("delete").getAttribute("value");
        document.getElementById("id").submit();
    }

    function edit(){
        const input = document.getElementById("num_change");
        const submit = document.getElementById("submit_btn");
        const cancel = document.getElementById("cancel_btn");
        const del = document.getElementById("delete_btn");
        const edit = document.getElementById("edit_btn");

        if(edit_state){ //switch editing off
            input.classList.remove("form-control");
            input.classList.add("form-control-plaintext");
            input.setAttribute("readonly","readonly");

            submit.style.display = "none";
            cancel.style.display = "none";
            if (del != null) {
                del.style.display = "inline-block";
            }
            edit.style.display = "inline-block";

            edit_state = false;
        }
        else { //switch editing on
            input.classList.remove("form-control-plaintext");
            input.classList.add("form-control");
            input.removeAttribute("readonly");

            submit.style.display = "inline-block";
            cancel.style.display = "inline-block";
            edit.style.display = "none";

            if (del != null){
                del.style.display = "none";
            }
            edit_state = true;
        }
    }
</script>
{% endblock %}