{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex payments!
{% endblock %}

{% block main_content %}
<h2>Basket page</h2>

    {% if not (basket_activities or basket_membership) %}
        <p>Basket empty</p>
    {% else %}
        {% if basket_activities %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr><td colspan="5"> Activities </td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Class Name</td>
                            <td>Class Start Time </td>
                            <td>Class End Time</td>
                            <td>Facility</td>
                            <td>Number of Bookings</td>
                            <td>Price Per Item</td>
                            <td>Bulk discount</td>
                            <td>Sub-Price</td>
                            <td>Update</td>
                        </tr>
                        {% for activity, tuple in activity_and_price.items() %}
                            <tr>
                                <td>{{ activity.activity_type.name.capitalize() }}</td>
                                <td>{{ activity.start_time }}</td>
                                <td>{{ activity.end_time }}</td>
                                <td>{{ activity.facility.name.capitalize() }}</td>
                                <td>{{ tuple[1] }}</td>
                                <td>£{{ tuple[0] }}</td>
                                <td>{{ tuple[2] * 100 }}%</td>
                                <td>£{{ (tuple[1] * tuple[0])- (tuple[1] * tuple[0]* tuple[2]) }}</td>
                                <td>    
                                    <form action="/account/basket" method="post" id="booking_item_{{activity.activity_id}}">
                                        <input type="number" name="num_change" max="8" min="0" value="{{tuple[1]}}">
                                        <input type="submit" name="update" value="Update">
                                        <input type="hidden" name="booking_id" value="A:{{activity.activity_id}}">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5"></td>
                            <td>Total Price:</td>
                            <td>£{{ total_activity_price }}</td>
                        </tr>
                        {% if current_membership_discount %}
                        <tr>
                            <td colspan="5"></td>
                            <td>Membership discount:</td>
                            <td>{{ current_membership_discount }}% OFF!</td>
                        </tr>
                        <tr>
                            <td colspan="5"></td>
                            <td>Discounted Price:</td>
                            <td>£{{ total_discounted_price }}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <br>
        {% endif %}

        {% if basket_membership %}

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr><td colspan="5"> Memberships </td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>Discount</td>
                            <td>Duration</td>
                            <td>Price per month</td>
                            <td>Total price</td>
                        </tr>
                        <tr>
                            <td>{{ basket_membership.name }} </td>
                            <td>{{ basket_membership.discount }} </td>
                            <td>{{ basket_membership_duration }} </td>
                            <td>£{{ basket_membership.monthly_price }} </td>
                            <td>£{{ basket_membership_duration * basket_membership.monthly_price }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        {% endif %}

        {% if basket_membership or basket_activities %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr><td colspan="5"> Final Price </td></tr>
                    </thead>
                    <tbody>
                        {% if basket_activities %}
                        <tr>
                            <td>Activity Price</td>
                            <td>£{{total_activity_price}}</td>
                        </tr>
                        {% endif %}
                        {% if basket_membership %}
                        <tr>
                            <td>Membership Price</td>
                            <td>£{{ basket_membership_duration * basket_membership.monthly_price}}</td>
                        </tr>
                        {% endif %}
                        {% if basket_membership and basket_activities %}
                        <tr>
                            <td>Total Price</td>
                            <td>£{{(basket_membership_duration * basket_membership.monthly_price) + total_activity_price}}</td>
                        </tr>
                        {% endif %}
                        {% if current_membership_discount %}
                        <tr>
                            <td>Membership Discount</td>
                            <td>£{{current_membership_discount}}%</td>
                        </tr>
                        <tr>
                            <td>Discounted Price</td>
                            <td>£{{final_price}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <br>
        {% endif %}

         <form method="post" action="/transactions/pay-card">
            <input type="submit" name="submit" value="Pay By Card">
             <input type="hidden" name="checkout" value="user_has_checkout">
             <input type="hidden" name="total_price" value="{{final_price}}">
             <input type="hidden" name="payment_type" value="card">
        </form>

        {% if User.__mapper_args__ ['polymorphic_identity'] != "Customer" %}
            <form method="post" action="/transactions/pay-card">
            <input type="submit" name="submit" value="Pay With Cash">
             <input type="hidden" name="checkout" value="user_has_checkout">
             <input type="hidden" name="total_price" value="{{final_price}}">
                <input type="hidden" name="payment_type" value="cash">
        </form>
        {% endif %}

        <br>

        <form method="post">
            <input type="submit" name="delete_basket" value="Delete all items">
        </form>
    {% endif %}
{% endblock %}

{% block additional_js %}
<script src="../../static/js/basket.js"> </script>
{% endblock %}