{% extends "account/account_layout.html"%}

{% block page_content %}
    <div class="row no-gutters">
        <div class="col-sm-12" class="overflow-auto">
            <table class="table table-striped display w-100" id="data-bookings">
                <thead class="table-header">
                    <tr>
                        <th>Activity</th>
                        <th>Date</th>
                        <th>Start Time </th>
                        <th>End Time</th>
                        <th>Facility</th>
                        <th>Places</th>
                        {% if membership_type != 2 %}
                        <th>Refund</th>
                        {% else %}
                        <th>Cancel</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for activity, receipt_and_amount in returned_bookings.items() %}
                        <tr>
                            <td>{{ activity.session_type.session_type_name.title() }}</td>
                            <td>{{ activity.start_time.strftime("%d/%m/%y") }}</td>
                            <td>{{ activity.start_time.strftime("%H:%M") }}</td>
                            <td>{{ activity.end_time.strftime("%H:%M") }}</td>
                            <td>{{ activity.facility.name.title() }}</td>
                            <td>{{ receipt_and_amount[1] }}</td>
                            <td>
                                <form action="/transactions/refund" method="post">
                                    <input class="btn btn-danger" type="submit" name="refund" value="Refund">
                                    <input type="hidden" name="activity_id" value="{{activity.activity_id}}">
                                    <input type="hidden" name="receipt_id" value="{{receipt_and_amount[0].receipt_id}}">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block account_additional_js %}
<script>
    $(document).ready(function() {
    $('#data-bookings').DataTable( {
        "order": [[ 1, "asc" ],[ 2, "asc" ],[ 3, "asc" ]],
        "lengthMenu": [ 10, 20, 50 ],
        "dom" : '<"row no-gutters"<"col-12 col-md-6"l><"col-12 col-md-6"f>>t<"col-12"p>',
        "scrollX": true
    });
});
</script>
{% endblock %}