{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
{{User.first_name}}'s Account!
{% endblock %}

{% block main_content %}
    <h2>Welcome: {{ User.first_name }} ({{ User.__mapper_args__ ['polymorphic_identity'] }} account)</h2>
    <a href="/account/log_out">Log out</a><br>
    <a href="/">Return to index</a><br>
    {% if User.__mapper_args__ ['polymorphic_identity'] == "Manager" %}

    {% elif User.__mapper_args__ ['polymorphic_identity'] == "Employee" %}
    <h3>Router:</h3>
    {% else %}
    {% if membership_type %}
    <p>current membership : {{membership_type.name}}<p>
    <a href="/info/memberships/cancel">cancel membership</a>
    {% else %}
    <p>you currently have no membership</p>
    {% endif %}
    {% if returned_bookings %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr><td colspan="4"> Current bookings </td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Class Name</td>
                            <td>Class Start Time </td>
                            <td>Class End Time</td>
                            <td>Facility</td>
                        </tr>
                        {% for activity in returned_bookings %}
                            <tr>
                                <td>{{ activity.activity_type.name }}</td>
                                <td>{{ activity.start_time }}</td>
                                <td>{{ activity.end_time }}</td>
                                <td>{{ activity.facility.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    {% endif %}
    {% endif %}
{% endblock %}

{% block additional_js %}

{% endblock %}