{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
{{User.first_name}}'s Account!
{% endblock %}

{% block main_content %}
    <h2>Welcome: {{ User.first_name }} ({{ User.__mapper_args__ ['polymorphic_identity'] }} account)</h2>
    <a href="/account/log_out">Log out</a><br>
    <a href="/">Return to index</a><br>
    {% if User.__mapper_args__ ['polymorphic_identity'] == "Manager" %}

    {% elif User.__mapper_args__ ['polymorphic_identity'] == "Employee" %}
    <h3>Router:</h3>
    {% else %}
    <h3>Current bookings:</h3>

    <h3>Current membership:</h3>
    {% endif %}
{% endblock %}

{% block additional_js %}

{% endblock %}