{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex-Index!
{% endblock %}

{% block main_content %}
<h2>Index page</h2>
    {%  if User %}
    <a href="/account/your_account">View account</a><br>
    {% else %}
    <a href="/account/login">Login (with any account type)</a><br>
    <a href="/account/register">Customer Register</a><br>
    {% endif %}
    <a href="/activities/view_classes">Book a class</a><br>
    <a href="/transaction/membership">Buy membership</a><br>
{% endblock %}

