{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}
The Vertex-Index!
{% endblock %}

{% block main_content %}
<div id="carousel"class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active"><img src="/static/imgs/woman_dumbbells.jpg" alt="Woman using dumbbells."></div>
        <div class="carousel-item"><img src="/static/imgs/barbell.jpg" alt="Man using barbell."></div>
        <div class="carousel-item"><img src="/static/imgs/treadmill.jpg" alt="Man using treadmill."></div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    </a>
    <div id="caption">
        <div class="carousel-caption">
            <h1>The Vertex Gym</h1>
        </div>
    </div>
    <div class="container col text-center" id="carousel-btn-container">
        <a class="btn btn-lg bg-black" id="carousel-btn" href="../info/memberships">Join Now</a>
    </div>
</div>
<!--<h2>Index page</h2>-->
<!--    <a href="/account/login">Login (with any account type)</a><br>-->
<!--    <a href="/account/register">Customer Register</a><br>-->
<!--    {%  if User %}-->
<!--    <a href="/account/your_account">View account</a><br>-->
<!--    {% endif %}-->
{% endblock %}

