{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex card pay!
{% endblock %}

{% block main_content %}
<h2>Pay page</h2>
<p>Card details to be added</p>
<p>Total Cost: {{total_price}}</p>

{% if User.__mapper_args__ ['polymorphic_identity'] != "Customer"%}
    <form method="post">
        <label for="customer_email">Customer email:</label>
        {% if customer %}
            <input type="email" id="customer_email" name="customer_email" value="{{customer.email}}">
        {% else %}
            <input type="email" id="customer_email" name="customer_email">
        {% endif %}
        <input type="submit" value="search">
        {% if checkout %}
            <input type="hidden" name="checkout" value="user_has_checkout">
        {% endif %}
        {% if pay %}
            <input type="hidden" name="pay" value="user_has_paid">
        {% endif %}
             <input type="hidden" name="total_price" value="{{total_price}}">
             <input type="hidden" name="payment_type" value="{{type}}">
    </form>
    {% if error %}
        <p>Error: {{error}}</p>
    {% endif %}
    {% if customer %}
        <p>Customer successfully found:</p><br>
        <p>Name: {{customer.first_name}} {{customer.last_name}}</p><br>
        <p>Address: {{customer.address}}</p><br>
        <p>Verify customer details before proceeding.</p>
    {% endif %}
{% endif %}


{% if type == "card" %}
    <form method="post">
        <label for="card_number">Card Number: </label><br>
        <input type="tel" id="card_number" name="card_number" pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}"
        oninvalid="setCustomValidity('Invalid card number!')"
        placeholder="0000 0000 0000 0000"
        {% if payment_dictionary.get("card_number") %}
            value="{{ payment_dictionary.get("card_number") }}"
        {% endif %}
        ><br>

        <label for="start_date">Start Date:</label><br>
        <input type="text" id="start_date" name="start_date" pattern="^(([1][0-2]|[0][1-9])/([0-9][0-9])){1}$"
        placeholder="MM/YY"
        {% if payment_dictionary.get("start_date") %}
            value="{{ payment_dictionary.get("start_date") }}"
        {% endif %}
        ><br>

        <label for="expiration_date">Expiration Date:</label><br>
        <input type="text" id="expiration_date" name="expiration_date" pattern="^(([1][0-2]|[0][1-9])/([0-9][0-9])){1}$"
        placeholder="MM/YY"
        {% if payment_dictionary.get("expiration_date") %}
            value="{{ payment_dictionary.get("expiration_date") }}"
        {% endif %}
        ><br>

        <label for="cvc_number">CVC Number: </label><br>
        <input type="tel" id="cvc_number" name="cvc_number" pattern="[0-9]{3}"
        oninvalid="setCustomValidity('Invalid CVC number!')"
        placeholder="000"
        ><br>

        <label for="street_and_number">Street and Number: </label><br>
        <input type="text" id="street_and_number" name="street_and_number"
        {% if payment_dictionary.get("street_and_number") %}
            value="{{ payment_dictionary.get("street_and_number") }}"
        {% endif %}
        ><br>

        <label for="town">Town: </label><br>
        <input type="text" id="town" name="town"
        {% if payment_dictionary.get("town") %}
            value="{{ payment_dictionary.get("town") }}"
        {% endif %}
        ><br>

        <label for="city">City: </label><br>
        <input type="text" id="city" name="city"
        {% if payment_dictionary.get("city") %}
            value="{{ payment_dictionary.get("city") }}"
        {% endif %}
        ><br>

        <label for="postcode">Postcode: </label><br>
        <input type="text" id="postcode" name="postcode"
        {% if payment_dictionary.get("postcode") %}
            value="{{ payment_dictionary.get("postcode") }}"
        {% endif %}
        ><br>

        <label for="remember_card_details">Remember Card Details </label>


        <input type="checkbox" id="remember_card_details" name="remember_card_details"
        {% if payment_dictionary.get("card_number") %}
            checked
        {% endif %}
        ><br>
    {% else %}
         <form method="post">
        <p>Handle cash</p>


             {%endif%}

        {% if customer %}
        <input type="submit" value="pay">
        <input type="hidden" name="pay" value="user_has_paid">
            {% if customer %}
            <input type="hidden" name="customer_email" value="{{customer.email}}">
            {% endif %}
            <input type="hidden" name="total_price" value="{{total_price}}">
            <input type="hidden" name="payment_type" value="{{type}}">
        {% endif %}
</form>
{% endblock %}