{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex payments!
{% endblock %}

{% block main_content %}
<h2>Payments page</h2>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr><td colspan="5"> Current bookings </td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Class Name</td>
                    <td>Class Start Time </td>
                    <td>Class End Time</td>
                    <td>Facility</td>
                    <td>Price</td>
                </tr>
                {% for i in range(num_activites) %}
                    <tr>
                        <td>{{ activity_names[i] }}</td>
                        <td>{{ basket_activities[i].start_time }}</td>
                        <td>{{ basket_activities[i].end_time }}</td>
                        <td>{{ facility_names[i] }}</td>
                        <td>{{ individual_prices[i] }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"></td>
                    <td>{{Total_Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if basket_membership %}
        <p>New membership:</p>
        <ul>
            <li>
                Type: {{ membership.name }}
                Discount: {{ membership.discount }}
                Price per month: {{ membership.monthly_price }}
            </li>
        </ul>
    {% endif %}

     <form method="post">
        <input type="submit" value="Pay">
    </form>
{% endblock %}