{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex receipt!
{% endblock %}

{% block main_content %}
<h2>Receipt page</h2>
{% if returned_receipt %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr><td colspan="5"> Classes booked </td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Class Name</td>
                            <td>Class Start Time </td>
                            <td>Class End Time</td>
                            <td>Facility</td>
                        </tr>
                        {% for booking in returned_receipt.bookings %}
                                <tr>
                                    <td>{{ booking.activity.activity_type.name }}</td>
                                    <td>{{ booking.activity.start_time }}</td>
                                    <td>{{ booking.activity.end_time }}</td>
                                    <td>{{ booking.activity.facility.name }}</td>
                                </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4"></td>
                            <td>Total Price:</td>
                            <td>{{returned_receipt.total_cost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form>
                <input type="button" value="Print receipt" onclick="window.print()" class="no-print">
            </form>
            <!-- Temporary css - to be moved into stylesheet -->
            <style>
                @media print
                {
                    .no-print
                    {
                        display: none;
                    }
                }
            </style>
        {% endif %}
{% endblock %}