<!-- This html document defines the format that is followed by all the other
pages, making it the parent page. This defines the head of the document as well
as the basic body -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Team 10">
    <meta name="keywords" content="Leisure centre, Gym, Swimming, Activities, Membership, Fitness">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title> <!-- Lets each page have its own title-->
    <!--  Import font  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Open+Sans:300,400,500&display=swap"
          rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/includes/reset.css') }}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/includes/global.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/includes/main.css') }}">
    <link rel="icon" href="../static/imgs/logo/vertex_favicon.png" type="image/ico" sizes="16x16">
    {% block additional_css %}{% endblock %} <!--Allows extra css to be added-->
</head>
<body>

{% if has_cookie == False %}
<div id="cookies"> <!-- Defines the div for displaying cookie information-->
    <h2>We love cookies!</h2>
    <p>Our website uses cookies; these are vital for storing your account details and making
        sure that you can use the website as intended. Don't worry- we're not out to get you!
        Please accept below:</p>
    <a class="btn-success" id="CookieAccept">Accept!</a>
</div>
<div id="invisible"></div>
{% endif %}

{% if not nav %} <!-- Inspired from: https://mdbootstrap.com/docs/jquery/navigation/navs/-->
<nav class="navbar navbar-expand-lg navbar-light main-nav" id="main-nav">
<!--    <div class="container justify-content-center">-->
    <div class="d-block d-lg-none mx-auto" id="brand-mobile">
        <a class="navbar-brand" base href="/"><img src="../static/imgs/logo/vertex_logo.png"></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav flex-fill w-100 flex-nowrap" id="nav-content-left">
            <li class="nav-item">
               <a class="nav-link" base href="{{ url_for('activities.view_activity_types')}}">Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" base href="{{ url_for('info.facilities_view')}}">Facilities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" base href="{{ url_for('info.membership_view')}}">Membership</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-fill justify-content-center d-none d-lg-block">
            <li class="nav-item">
                <a class="navbar-brand mx-auto" base href="/"><img src="../static/imgs/logo/vertex_logo.png"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-fill w-100 justify-content-end" id="nav-content-right">
            <li class="nav-item"><a class="nav-link" base href="{{ url_for('info.about_func')}}">About</a></li>
            {% if not User %}
            <!--            <li class="nav-item"><a class="nav-link" base href="/account/log_out">Logout</a></li>-->
            <li class="nav-item navbar-right"><a class="nav-link glyphicon glyphicon-log-out" base
                                                 href="{{ url_for('account.register_get')}}">Register</a></li>
            <li class="nav-item navbar-right"><a class="nav-link glyphicon glyphicon-log-in" base
                                                 href="{{ url_for('account.login_get')}}">Login</a></li>
            {% else %}
            <li class="nav-item d-block d-lg-none"><a class="nav-link" href="{{ url_for('account.view_account')}}">Account</a></li>
            <li class="nav-item dropdown d-none d-lg-block">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
                <div class="dropdown-menu navbar-light" aria-labelledby="navbarDropdown">
                    <a href="{{ url_for('account.view_account')}}" class="nav-link pl-0">
                        <p>Home</p></a>
                    <a href="{{ url_for('account.view_account_bookings')}}" class="nav-link pl-0">
                        <p>Bookings</p></a>
                    <a href="{{ url_for('account.view_account_receipts')}}" class="nav-link pl-0">
                        <p>Receipts</p></a>
                    {% if User.__mapper_args__['polymorphic_identity'] == "Customer" %}
                    <a href="{{ url_for('account.view_account_membership')}}" class="nav-link pl-0">
                        <p>Membership</p></a>
                    {% elif User.__mapper_args__['polymorphic_identity'] == "Employee" %}
                    {% elif User.__mapper_args__['polymorphic_identity'] == "Manager" %}
                    <a href="{{ url_for('account.view_usages')}}" class="nav-link pl-0">
                        <p>Statistics</p></a>
                    {% endif %}
                    <a href="{{ url_for('account.view_account_details')}}" class="nav-link pl-0">
                        <p>Account</p></a>
                    {% if User.__mapper_args__['polymorphic_identity'] == "Customer" %}
                    <a href="{{ url_for('account.view_payment_details')}}" class="nav-link pl-0">
                        <p>Card Details</p></a>
                    {% elif User.__mapper_args__['polymorphic_identity'] == "Employee" or
                    User.__mapper_args__['polymorphic_identity'] == "Manager" %}
                    <a href="#" class="nav-link pl-0">
                        <p>Rota</p></a>
                    {% endif %}
                    <a href="{{ url_for('account.log_out')}}" class="nav-link pl-0">
                        <p>Log Out</p></a>
                </div>
            </li>
            <li class="nav-item navbar-right">
                <a class="nav-link glyphicon glyphicon-shopping-cart" base href="{{ url_for('basket.basket_view')}}">Basket</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}
{% if page_title is defined %} <!-- Page title is not empty -->
<div id="page_title" class="fluid-container">
    <div class="container">
        <div class="row">
            <h1 class="align-self-center col-12 col-md-4">{{ page_title }}</h1>
            <span class="align-self-center col-12 col-md-8">
                {% block page_description %} {% endblock %}
            </span>
        </div>
    </div>
</div>
{% endif %}

<!--Defines the main content for the webpages, this is where allthe content is situated-->
{% block main_content %} {% endblock %}

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for message in messages %}
{% if message[0] == ("success") %}
<div class="alert alert-success fade show" role="alert">
    {% elif message[0] == ("error") %}
    <div class="alert alert-danger fade show" role="alert">
        {% else %}
        <div class="alert alert-primary fade show" role="alert">
            {% endif %}
            {{ message[1] }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

    {% if footer == True %} <!-- Inspired from: https://mdbootstrap.com/docs/jquery/navigation/footer/-->
    <footer>
    </footer>
    {% endif %}

    <!-- Imports CDNs for scripts that are used by every page, most importantly bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c8eac23e18.js" crossorigin="anonymous"></script>
    <script src="../../static/js/main.js">

    </script>
    {% block additional_js %} {% endblock %} <!--Lets the user input additional JavaScript -->
</body>
</html>