<!-- This html document defines the format that is followed by all the other
pages, making it the parent page. This defines the head of the document as well
as the basic body -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Team 10">
    <meta name="keywords" content="Leisure centre, Gym, Swimming, Activities, Membership, Fitness">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block title %} {% endblock %}</title> <!-- Lets each page have its own title-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="icon" href="../../static" type="image/ico">
    {% block additional_css %}{% endblock %} <!--Allows extra css to be added-->
</head>
<body>

{% if nav != False %} <!-- Inspired from: https://mdbootstrap.com/docs/jquery/navigation/navs/-->
    <nav class="navbar bg-dark navbar-dark">
      <!-- brand text -->
      <a class="navbar-brand" href="#">Navbar</a>
      <!-- dropdown button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Facilities</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Classes</a></li>
            {%  if User %}
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">My Account</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="#">Membership</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
{% endif %}

<div class="main_content"> <!--Defines the main content for the webpages, this is where all
                                the content is situated-->
{% block main_content %} {% endblock %}
</div>

{% if footer != False %} <!-- Inspired from: https://mdbootstrap.com/docs/jquery/navigation/footer/-->
<footer>
<h3>Footer Section</h3>
</footer>
{% endif %}

<!-- Imports CDNs for scripts that are used by every page, most importantly bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../../static/js/main.js">

</script>
{% block additional_js %} {% endblock %} <!--Lets the user input additional JavaScript -->
</body>
</html>