{% extends "includes/_main_layout.html"%}
{% block additional_css %}
    <link rel="stylesheet" href="../../static/css/contact_us.css">
{% endblock %}

{% block title %}
Contact us!
{% endblock %}

{% block main_content %}
    <div class="container">
        <h1>Contact us</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h4>Call Us</h4>
            <p>Our Telephone Number is: 01234 567891. <br>We are avaliable during the Leisure centre opening dates</p>
        </div>
        <div class="col-md-6 col-sm-12 Email">
            <h4>Email Us</h4>
            <p>Our email address is: info@TheVertex.co.uk <br>We aim to reply by the end of each working day</p>
        </div>
    </div>
    <div class="row Contact">
        <div class="col-md-12">
            <h4>Find Us</h4>
            <p>Our location is: </p>
                <ol>
                    <li>6 Random Gate</li>
                    <li>SomePlace Boulevard</li>
                    <li>Where Am I county</li>
                    <li>MK9 3BN</li>
                </ol>
        </div>
        <div class="col-md-12">
            <div id="googleMap" style="width:100%;height:400px;"></div>
        </div>
    </div>
    </div>
{% endblock %}

{% block additional_js %}
    <script>
function myMap() {
  var VertexPosit = new google.maps.LatLng(53.806655, -1.555018);
  var Canvas = document.getElementById("googleMap");
  var Options = {center: VertexPosit,
  zoom: 8,
  disableDefaultUI: true,
  streetViewControl: true};
  var map = new google.maps.Map(Canvas, Options);
  var marker = new google.maps.Marker({position:VertexPosit, animation: google.maps.Animation.BOUNCE});
  marker.setMap(map); /*Marker is set to the map*/
}
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD72JPJnUXswP3-mH6S4o78XTUYVrsW2ig&callback=myMap"></script>

{% endblock %}