{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info/facilities.css') }}">
{% endblock %}

{% block title %}
The Vertex - Facilities!
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="card-deck">
        {% for facility in facilities %}
        <div class="col-sm-12 col-md-6" id="{{facility.facility_id}}">
            <div class="card">
              <img src="/static/imgs/facility-img/facility{{ facility.facility_id }}.jpg" class="card-img-top" alt="{{ facility.facility_id }}">
              <div class="card-body">
                <h2 class="card-title">{{ facility.name.title() }}</h2>
                <p class="card-text">
                    {{ facility.description }}
                    <br>
                    Capacity: {{ facility.max_capacity }}
                </p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
