{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex memberships!
{% endblock %}

{% block main_content %}
    <div class="container">
        <p> Membership description goes here. You should really buy a memberhsip because this makes things so much easier for us so please.</p>
    </div>

    <div class="container">

    <!-- Columns of membership types -->
        <div class="row">
            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-header">Book Classes</h3>
                        <div class="card-block">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt augue sapien, vitae imperdiet ex luctus id. Maecenas ullamcorper nisl eu elit sagittis pulvinar. Proin condimentum nulla at dui pulvinar, semper suscipit sem rutrum.</p>

                            <!-- TODO: Redirect to book classes for USER, redirect to create account for GUEST
                                 TODO: Change text to reflect as well? -->
                            <a href="#" class="btn btn-primary">Book a Class for free</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-header">Premium Membership</h3>
                        <div class="card-block">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt augue sapien, vitae imperdiet ex luctus id. Maecenas ullamcorper nisl eu elit sagittis pulvinar. Proin condimentum nulla at dui pulvinar, semper suscipit sem rutrum.</p>
                            <a href="#" class="btn btn-primary">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-header">Standard Membership</h3>
                        <div class="card-block">
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt augue sapien, vitae imperdiet ex luctus id. Maecenas ullamcorper nisl eu elit sagittis pulvinar. Proin condimentum nulla at dui pulvinar, semper suscipit sem rutrum.</p>
                            <a href="#" class="btn btn-primary">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}