{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/memberships.css') }}">
{% endblock %}

{% block title %}
The Vertex memberships!
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="card-deck">
        <!-- Free -->
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h2 class="card-title">Book Classes</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt augue sapien, vitae imperdiet ex luctus id. Maecenas ullamcorper nisl eu elit sagittis pulvinar. Proin condimentum nulla at dui pulvinar, semper suscipit sem rutrum.
            </p>
            <a href="#" class="btn btn-primary">Book a Class</a>
          </div>
        </div>
        <!-- Standard -->
            <div class="card mb-3 text-center">
              <div class="card-body">
                <h2 class="card-title">Standard Membership</h2>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt augue sapien, vitae imperdiet ex luctus id. Maecenas ullamcorper nisl eu elit sagittis pulvinar. Proin condimentum nulla at dui pulvinar, semper suscipit sem rutrum.
                </p>
                <a href="#" class="btn btn-primary">Become a Member</a>
              </div>
            </div>
        <!-- Premium -->
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h2 class="card-title">Premium Membership</h2>
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt augue sapien, vitae imperdiet ex luctus id. Maecenas ullamcorper nisl eu elit sagittis pulvinar. Proin condimentum nulla at dui pulvinar, semper suscipit sem rutrum.
            </p>
            <a href="#" class="btn btn-primary">Become a Member</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}