{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activities/activity_types.css') }}">
{% endblock %}

{% block title %}
The Vertex classes!
{% endblock %}

{% block page_description %}
<p>
    The Vertex Sports Center holds a wide variety activities all throughout the week; ranging from general sessions,
    instructor and coach lead classes, private court renting sessions, to team events. You can find out more information
    about each of our activities on their booking page.
</p>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <!-- View all -->
        <div class="col-12 col-md-6" id="view_all">
            <a class="card" href="{{ url_for('activities.view_booking')}}">
                <img class="card-img-top" src="/static/imgs/activities-img/all.jpg" alt="Illustration of field">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                    <h2 class="card-text-overlay">All Activities</h2>
                </div>
            </a>
        </div>

        {% for activity_type in activity_types %}
        <div class="col-12 col-md-6">
            <form method="post">
                <input type="hidden" name="request_activity_type_id" value="{{ activity_type.activity_type_id }}">
                <button type="submit" name="amount" class="card">
                    <img class="card-img-top" src="/static/imgs/activities-img/{{ activity_type.name }}.jpg" alt="Illustration of {{ activity_type.name }}">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h2 class="card-text-overlay">{{ activity_type.name.title() }}</h2>
                    </div>
                </button>
            </form>
                        <!--
                        <div class="tags">
                            <p>Tags:</p>
                            {% for tag in activity_types.tags %}
                            <span class="badge badge-secondary">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <div class="buttons">
                            <form method="post">
                                <input type="hidden" name="request_activity_type_id" value="{{ activity_type.activity_type_id }}">
                                <button class="btn btn-primary" type="submit" name="amount" value="single">Book</button>
                            </form>
                        </div>
                        -->
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
{% endblock %}