{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activities/activity_types.css') }}">
{% endblock %}

{% block title %}
The Vertex classes!
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        <!-- View all -->
        <div class="col-sm-12">
            <a href="{{ url_for('activities.view_booking')}}">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">View All Activities</h2>
                    </div>
                </div>
            </a>
        </div>

        {% for activity_type in activity_types %}
        <div class="col-12 col-md-6">
            <form method="post">
                <input type="hidden" name="request_activity_type_id" value="{{ activity_type.activity_type_id }}">
                <button type="submit" name="amount" class="card">
                    <img class="card-img-top" src="/static/imgs/activities-img/{{ activity_type.name }}.jpg" alt="Illustration of {{ activity_type.name }}">
                    <div class="card-img-overlay d-flex align-items-center justify-content-center">
                        <h2 class="card-text-overlay">{{ activity_type.name.title() }}</h2>
                    </div>
                </button>
            </form>
                        <!--
                        <div class="tags">
                            <p>Tags:</p>
                            {% for tag in activity_types.tags %}
                            <span class="badge badge-secondary">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        <div class="buttons">
                            <form method="post">
                                <input type="hidden" name="request_activity_type_id" value="{{ activity_type.activity_type_id }}">
                                <button class="btn btn-primary" type="submit" name="amount" value="single">Book</button>
                            </form>
                        </div>
                        -->
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block additional_js %}
<script>
    $(document).ready(function() {
        $( ".card" ).hover(
            // on hover
            function() {
                $(this).addClass("shadow-lg").css("cursor", "pointer");  // change cursor to pointer on hover
                $(this).find(".card-img-top").css("filter", "brightness(75%) blur(2px)");
                $(this).find(".card-img-top").css("transform", "scale(1.1)");
            },

            // exit hover
            function() {
                $(this).removeClass("shadow-lg");
                $(this).find(".card-img-top").css("filter", "brightness(75%)");
                $(this).find(".card-img-top").css("transform", "scale(1.0)");
            }
        );
    });
</script>
{% endblock %}