{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/activities.css') }}">

<!-- datetime picker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />

<!-- AlloyUI Stylesheet. Used for scheduler -->
{#<link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet" />#}
{% endblock %}

{% block title %}
Booking Page
{% endblock %}

{% block main_content %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->


<div class="container">
    <!-- Accordion Wrapper -->
    <div class="accordion" id="bookingAccordion">

        {% for activity in activity_types %}
            <!-- Accordion Card -->
            <div class="card">
                <div class="card-header" id={{ "heading" + activity.name.title() }}>
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link" data-toggle="collapse" data-target={{ "#collapse" + activity.name.title() }}>
                            {{ activity.name.title() }}
                            <i class="fa fa-chevron-down pull-right"></i>
                        </button>
                    </h2>
                </div>
                <div id={{ "collapse" + activity.name.title() }} class="collapse" aria-labelledby={{ "heading" + activity.name.title() }} data-parent="#bookingAccordion">
                    <div class="card-body">
                        <!-- activity info -->
                        <p>{{ activity.description }}</p>
                        <!-- activity info -->

                        <h6>Book for a session:</h6>
{#                        <!-- date picker -->#}
{#                        <div class="form-group multidate" id={{ "multidate" + activity.name.title() }} name={{ "multidate" + activity.name.title() }}>#}
{#                            <input type="text" class="form-control">#}
{#                        </div>#}
{#                        <!-- date picker -->#}

                        <!-- Scheduler -->
                        <div id="wrapper">
                          <div id={{ "scheduler" + activity.name.title() | replace(" ", "") }}></div>
                        </div>
                        <!-- Scheduler -->
                    </div>
                </div>
            </div>
            <!-- Accordion Card -->
        {% endfor %}

    </div>
    <!-- Accordion Wrapper -->
</div>

    <!-- original stuff -->
{#        <form class="form-inline" method="post">#}
{#        <label for="start_date">Start date:</label>#}
{#        <input type="date" name="start_date" required value="{{search_field_data["start_date"]}}"#}
{#            max="{{search_field_data["max_date"]}}" min="{{search_field_data["min_date"]}}">#}
{#        <label for="start_time">From:</label>#}
{#        <input type="time" name="start_time" required step="3600"#}
{#               value="{{search_field_data["from_time"]}}" min="{{search_field_data["min_time"]}}">#}
{#        <label for="activity">Activity:</label>#}
{#        <select name="activity">#}
{#            <option value="Any" {% if search_field_data["activity"] == "Any" %} selected {% endif %} >Any</option>#}
{#            {% for actvitiy_type in activity_types %}#}
{#                {% if actvitiy_type.activity_type_id == search_field_data["activity"] or actvitiy_type.activity_type_id == sent_activity %}#}
{#                    <option value="{{actvitiy_type.activity_type_id}}" selected="selected">{{actvitiy_type.name.capitalize()}}</option>#}
{#                {% else %}#}
{#                    <option value="{{actvitiy_type.activity_type_id}}" >{{actvitiy_type.name.capitalize()}}</option>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </select>#}
{#        <label for="facility">Facility:</label>#}
{#        <select name="facility">#}
{#            <option value="Any"#}
{#            {% if search_field_data["facility"] == "Any" %} selected="selected" {% endif %} >Any</option>#}
{#            {% for facility in facilities %}#}
{#                {% if facility.facility_id == search_field_data["facility"] %}#}
{#                    <option value="{{facility.facility_id}}" selected>{{facility.name.capitalize()}}</option>#}
{#                {% else %}#}
{#                    <option value="{{facility.facility_id}}" >{{facility.name.capitalize()}}</option>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </select>#}
{#        <input type="submit" name="reload_search" value="Refresh results">#}
{#    </form>#}
{#    <form method="post">#}
{#        {% if multiple == 'True' %}#}
{#            <button class="btn btn-primary" type="submit" name="book">Book</button>#}
{#        {% endif %}#}
{#    <div class="table-responsive">#}
{#        <table class="table">#}
{#            <thead>#}
{#                <tr><td colspan="6"> Time Table </td></tr>#}
{#            </thead>#}
{#            <tbody>#}
{#                <tr>#}
{#                    <td>Class name</td>#}
{#                    <td>Class Start Time </td>#}
{#                    <td>Class End Time</td>#}
{#                    <td>Facility</td>#}
{#                    <td>Availability left</td>#}
{#                    <td>Book</td>#}
{#                </tr>#}
{#                {% for activity, availability in activity_dict.items() %}#}
{#                    <tr>#}
{#                        <td>{{ activity.activity_type.name.title() }}</td>#}
{#                        <td>{{ activity.start_time }}</td>#}
{#                        <td>{{ activity.end_time }}</td>#}
{#                        <td><a href="/info/facilities#{{ activity.facility.facility_id }}">{{ activity.facility.name.title()}}</a></td>#}
{#                        <td>{{ availability }}</td>#}
{#                        {% if multiple == 'True' %}#}
{#                                <td>#}
{#                                    <input type="checkbox" id="{{activity.activity_id}}" name="bulk_activity" value="{{activity.activity_id}}">#}
{#                                </td>#}
{#                        {% else %}#}
{#                            <td><a class="btn btn-danger" href="/activities/view_activity/{{ activity.activity_id }}">Book</a></td>#}
{#                        {% endif %}#}
{#                    </tr>#}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#    </form>#}
{% endblock %}

{% block additional_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdn.alloyui.com/3.0.1/aui/aui-min.js"></script>

<script>
    function afterEventMoved(event, scheduler) {

        var startDate;
        var endDate;

        // Obtain the new start and end dates in the month view.
        if (event.currentTarget.originalDragNode) {
            var eventNodeId = event.currentTarget.originalDragNode.get('id');
            var eventsArray = scheduler.getEvents();
            var movedEvent = null;
            for (var i = 0; i < eventsArray.length; i++) {

                if (eventNodeId === eventsArray[i].get('node').get('id')[0]) {
                    movedEvent = eventsArray[i];
                    break;
                }
            }

            startDate = movedEvent.get('startDate');
            endDate = movedEvent.get('endDate');
        }

        // Obtain the new start and end dates in the day and week views.

        // Unfortunately, there seems to be a bug and the time of these dates
        // seems to be incorrect (it seems to be the time before the event was dragged).
        // The day, month, and year seem to be correct though.
        else {
            startDate = event.currentTarget.draggingEventStartDate;
            endDate = event.currentTarget.draggingEventEndDate;
        }

        console.log(startDate);
        console.log(endDate);
    }

    $(document).ready(function(){
        // Add chevron-up icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-chevron-up pull-right").removeClass("fa-chevron-up pull-right");
        });

        // Toggle chevron icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-chevron-down pull-right").addClass("fa-chevron-up pull-right");

        	// TODO: And also query a week worth's session availability for the opened activity type
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-chevron-up pull-right").addClass("fa-chevron-down pull-right");
        });

        var schedulerFootball = document.getElementById('schedulerFootball');
        schedulerFootball.setAttribute("disabled", "disabled");
        console.log(schedulerFootball);

        var items = document.getElementsByClassName("scheduler-view-day-table-col-shim");
        for (item in items) {
            console.log(item);
        }
    });

    $(".multidate input").datepicker({
        multidate: true
    });

    {% for activity_type in activity_types %}
        YUI().use(
            'aui-scheduler',
            function(Y) {
                var scheduler = null;
                var viewConfig = {
                    after: {
                        "click": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        },

                        "hide": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        },

                        "mousedown": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        },

                        "orientationchange": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        },

                        "reset": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        },

                        "resize": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        },

                        "show": function(event) {
                            event.halt();
                            console.log(typeof event, event.type, event);
                        }

                        {#"drag": function(event) {#}
                        {#    event.halt();#}
                        {#    console.log(event);#}
                        {#},#}
                        {#'drag:start': function(event) {#}
                        {#    event.halt();#}
                        {#    console.log(event);#}
                            {#event.preventDefault();#}
                            {#event.detach("drag");#}
                        {#},#}
                        {#'drag:end': function(event) {#}
                        {#    event.halt();#}
                        {#    console.log(event);#}
                        {#}#}
                    }
                };

                let sessions = [
                    {% if activity_type.activity_type_id | int == request_activity_type_id | int %}
                        {% for session in session_availabilities %}
                            {
                                content: "{{ activity_type.name | string }}",
                                startDate: new Date({{ session.start_time.year }}, {{ session.start_time.month - 1 }}, {{ session.start_time.day }}, {{ session.start_time.hour }}, {{ session.start_time.minute }}),
                                endDate: new Date({{ session.end_time.year }}, {{ session.end_time.month - 1 }}, {{ session.end_time.day }}, {{ session.end_time.hour }}, {{ session.end_time.minute }})
                            },
                        {% endfor %}
                    {% endif %}
                ];

                var eventRecorder = new Y.SchedulerEventRecorder({
                    on: {
                        click: function(event) {
                            alert("clicked");
                        },
                        change: function(event) {
                            alert("change");
                        },
                        drag: function(event) {
                            alert("dragging");
                            {#event.preventDefault();#}
                            event.halt();
                        }
                    }
                });
                {#console.log("Event Recorder", eventRecorder.getListeners());#}
                {#console.log("Scheduler", scheduler.getListeners());#}
                {#console.log("Y", Y.getListeners());#}
                var weekView = new Y.SchedulerWeekView(viewConfig);
                {#weekView.disable();#}

                scheduler = new Y.Scheduler({
                    activeView: weekView,
                    boundingBox: "#scheduler{{ activity_type.name.title() | string | replace(" ", "") }}",
                    eventRecorder: eventRecorder,
                    items: sessions,
                    render: true,
                    views: [weekView]
                });
                weekView.detachAll("drag");
                {#weekView.detachAll("drag:start");#}
                {#weekView.detachAll("drag:end");#}

                {#Y.Do.before(function (e) {#}
                {#    alert("before?");#}
                {#});#}

                Y.Do.after(function(e) {
                    $('.popover').hide();
                    // user tried to create an event
                    if (typeof e == "undefined") {
                        // halt the action
                        Y.Do.Halt("not allowed to create session");
                        alert("not allowed to create session");
                    } else {
                        var evt = e.getData('scheduler-event');
                        console.log(evt.type, evt);

                        // Show session info
                        $('#exampleModal').modal('show');
                    }
                }, eventRecorder, 'showPopover');
            }
        );
    {% endfor %}


</script>
{% endblock %}