{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex classes!
{% endblock %}

{% block main_content %}
<form action="/transaction/view_receipt" method="post"><input name="activity" type="hidden" value="hello"><input type="submit" value="Book Now"></form>
    <ul>
    {% for activity in list %}
    <li>
        {{ activity.activity_type.name[0] }}, {{ activity.start_time[0] }}, {{ activity.end_time[0] }}, <form action="/transaction/view_receipt" method="post"><input name="activity" type="hidden" value="{{ activity.activity_id[0] }}"><input type="submit" value="Book Now"></form>
    </li>
    {% endfor %}
    </ul>
{% endblock %}
