{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex - Classes Timetable!
{% endblock %}

{% block main_content %}
<h1>Classes Timetable</h1><br>
<table style="width:60%">
    <tr>
        <th>Activity</th>
        <th>Start</th>
        <th>End</th>
        <th>Location</th>
        <th></th>
    </tr>
    {% for activity in list %}
    <tr>
        <td>{{ activity.activity_type.name }}</td>
        <td>{{ activity.start_time }}</td>
        <td>{{ activity.end_time }}</td>
        <td>{{ activity.facility.name }}</td>
        <td>
            <form action="/activities/book" method="post">
                <input name="activity" type="hidden" value="{{ activity.activity_id }}">
                <input type="submit" value="Book Now">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
