{% extends "includes/_main_layout.html"%}
{% block additional_css %}

{% endblock %}

{% block title %}
The Vertex classes!
{% endblock %}

{% block main_content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr><td colspan="6"> Time Table </td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Class name</td>
                    <td>Class Start Time </td>
                    <td>Class End Time</td>
                    <td>Facility</td>
                    <td>Availability left</td>
                    <td>Book</td>
                </tr>
                {% for i in range(num_activites) %}
                    <tr>
                        <td>{{ activity_names[i] }}</td>
                        <td>{{ activity_list[i].start_time }}</td>
                        <td>{{ activity_list[i].end_time }}</td>
                        <td>{{ facility_names[i] }}</td>
                        <td>{{ avalibility[i] }}</td>
                        <td><a class="btn-danger" href="/activities/view_class/{{ activity_list[i].activity_id }}">Book</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
