/*The Vertex Global Styling*/

/*TEMP STYLES FOR GREYSCALE*/
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: black;
    border: solid 2px black;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6, .navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.navbar {
    float: none;
}

.card {
    border: solid 2px black;
}

#page_title {
    border-bottom: solid 2px black;
}

.btn-primary, .btn-secondary, .btn-dark, .btn-light, .btn-danger {
    background-color: black;
    color: white;
    border-color: black;
}

/*Bootstrap classes customisation*/

