{% extends "includes/_main_layout.html"%}
{% block additional_css %}
<link rel="stylesheet" href="../../static/css/policy_info.css">
{% endblock %}

{% block title %}
The Vertex policy page!
{% endblock %}

{% block main_content %}
<div class="container" id="MainPolicySection">
<h1><a href="/">Policy Information</a></h1>
    <div class="row" id="Data">
        <h3> Date Policy </h3>
        <p>At The Vertex, we take our customer's data incredibly seriously- all of the data on our database is compliment to the data protection act in the following regards: </p>

        <dl>
            <dt>Fairly and Lawfully processed</dt>
                <dd>-Our data is encrypted using HTTPS and kept on our secure server</dd>
            <dt> Processed for limited purposes/ relevant and not excessive </dt>
                <dd>-All of the data that we process is directly related to assuring that the user books classes and memberships correctly and that the leisure centre staff have all the
                    information needed </dd>
            <dt>Accurate</dt>
                <dd>-All of our data is entered in by the user directly, therefore the accuracy of our information will always be what the user submits to us </dd>
            <dt>Kept for limited time</dt>
                <dd>-All our data is removed after a year of being in our database, unless it is refreshed </dd>
            <dt> Accordance with the data subject's rights </dt>
                <dd>-All user's who submit data to use agree that we have the right to process the data they have entered, this can be edited if requested by the customer under certain circumstances</dd>
            <dt> Not transferred to unreliable organizations/ countries </dt>
                <dd>-All of our data is kept on our secure database and is not transferred to foreign organizations </dd>
        </dl>
        <p> Any other queries feel free to <a href="/info/Contact.html">contact us</a></p>
    </div>

    <div class="row" id="Terms">
        <h3> Terms and Conditions </h3>
        <p>Before a transaction is made, the customer must submit to the terms and conditions: </p>
        <ol>
            <li>Section 1- <cite title="Once the vertex has agreed on terms and conditions, these sections will be solidified and defined"> 'To be decided' </cite></li>
            <li>Section 2- <cite title="Once the vertex has agreed on terms and conditions, these sections will be solidified and defined"> 'To be decided' </cite></li>
            <li>Section 3- <cite title="Once the vertex has agreed on terms and conditions, these sections will be solidified and defined"> 'To be decided' </cite></li>
            <li>Section 4- <cite title="Once the vertex has agreed on terms and conditions, these sections will be solidified and defined"> 'To be decided' </cite></li>
            <li>Section 5- <cite title="Once the vertex has agreed on terms and conditions, these sections will be solidified and defined"> 'To be decided' </cite></li>
        </ol>
    </div>

    <div id="Cookie" class="row">
        <h3> Cookie Policy </h3>
        <p> Our policy on cookies is very concise; we only use cookies for two instances, and that is to make ease of access if the user books activities and memberships;
            and making sure the user is correctly logged in. <br>
        The cookies we store relate to your account session, so that our website remembers who you are so that you can book as many activities as you wish<br><br>
        This cookie packet is deleted after a month</p>
    </div>
</div>
{% endblock %}