h3 {
    font-size: inherit;
    padding: 0;
    margin: 0;
}

#opening-hours ol {
    /*padding-left: 3vw;*/
}

#fixed-container {
    position: sticky;
    top: 7vh;
}

#google-map {
    margin-bottom: 3vh;
}

