.container-fluid {
    padding: 0;
}

#sidebar {
    min-width: 200px;
    width: 30%;
}
#page-title {
    margin-bottom: 0;
}

#page-content-wrapper {
    padding: 0 2.5%;
}

aside {
    padding: 0;
    margin: 0;
    color: #F2F2F2;
    background-color: #1E1E1E;
    overflow-x: scroll;
}

aside p {
    display: none;
}

#list-title {
    display: none;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    aside {
        height: 75vh;
        overflow-x: auto;
    }

    aside p {
        display: inline;
    }

    aside ul {
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style-type: 0;
    }

    aside li i {
        width: 30%;
        padding-right: 1vw;
        text-align: center;
    }

    #list-title {
        display: inline;
        padding: 2vh 0;
    }
}

aside a, aside a:hover {
    color: #F2F2F2;
    text-decoration: none;
}

#title-bar {
    margin-top: 2vh;
    height: 10vh;
}

#title-bar button {
    min-width: 4vw;
    height: 8vh;
    float: left;
    margin: 1vh 1vw 1vh 0;
}

#title-bar h1 {
    min-width: 20vw;
    height: 8vh;
    float: left;
    margin: 1vh 0 1vh 0;
}

#title-bar span {
    min-width: 8vw;
    height: 8vh;
    line-height: 7vh;
    float: right;
    margin: 1vh 0 1vh 0;
}
