.container-fluid {
    padding: 0;
}

#page-title {
    margin-bottom: 0;
}

#page-content-wrapper {
    padding: 0 2.5% 3vh;
}

aside {
    padding: 0;
    margin: 0;
    color: #F2F2F2;
    background-color: #1E1E1E;
    overflow-x: scroll;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

aside p {
    display: none;
}

#list-title {
    display: none;
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    aside {
        min-height: 74.5vh;
        height: inherit;
        overflow-x: auto;
    }

    aside p {
        display: inline;
    }

    aside ul {
        margin:0;
        padding: 0;
        text-indent: 0;
        list-style-type: 0;
    }

    aside li i {
        width: 30%;
        padding-right: 1vw;
        text-align: center;
    }

    #list-title {
        display: inline;
        padding: 2vh 0;
    }
}

aside a, aside a:hover {
    color: #F2F2F2;
    text-decoration: none;
}

#title-bar {
    margin: 2vh 0;
    height: 10vh;
}

#title-bar button {
    min-width: 4vw;
    height: 8vh;
    float: left;
    margin: 1vh 1vw 1vh 0;
}

#title-bar h1 {
    min-width: 20vw;
    height: 8vh;
    float: left;
    margin: 1vh 0 1vh 0;
}

#title-bar .badge {
    display: inline-block;
    height: inherit;
    min-width: 10vw;
    float: right;
    font-size: inherit;
}

#title-bar .badge p {
    margin-top: auto;
    margin-bottom: auto;
}

th {
    color: #F2F2F2;
    background-color: #1E1E1E;
}

label {
    padding-top: 6px;
    font-weight: bold;
}

form h2 {
    margin-bottom: 1vh;
    font-size: 1.5rem;
}


table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    color: #F2F2F2;
    bottom: .5em;
}

#personal_details_row {
    margin-bottom: 3vh;
}

#submit_btn, #cancel_btn {
    display: none;
    margin-top: 3vh;
}

#cancel_btn {
    display: none;
    margin-left: 1vw;
}

#delete_btn {
   margin-left: 1vw;
}