html {
  scroll-behavior: smooth;
}

#page-title {
  height: 15vh;
}

#page-title h1 {
  line-height: 15vh;
}

.navbar-brand {
  height: 8vh;
  padding: 1vh 0 1vh;
  line-height: 6vh;
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  margin: 0 0 0 0;
}