html {
  scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    color: #1E1E1E;
}

#page-title {
    height: 15vh;
    background-color:#5BBDC8;
    padding-top: 0.5vh;
    color: white;
}

#page-title h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#page-description {
  padding-bottom: 1.5vh;
  margin-top: -2.5vh;
  margin-bottom: 7vh;
  background-color: #5BBDC8;
  color: white;
}


.bg-black {
    background-color: #1E1E1E;
    color: #F2F2F2;
}

#page-title h1 {
  line-height: 15vh;
}

.navbar-brand {
  height: 8vh;
  padding: 1vh 0 1vh;
  line-height: 6vh;
}

.card {
    border-color: #F2F2F2;
    background-color: #1E1E1E;
    color: #F2F2F2;
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  margin: 0 0 0 0;
}