body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#register-container {
    background-color: #F2F2F2;
    margin-top: 8vh;
    border-radius: 20px;
}