.row {
    max-width: 100%;
    min-height: var(--min-body-height);
    margin: 0;
}

.content-container {
    margin-bottom: 0;
}

#submit_btn{
    display: none;
    margin-top: 1vh;
}

#cancel_btn  {
    display: none;
    margin-top: 1vh;
}

#edit_btn {
    margin-top: 1vh;
}

#delete_btn {
    margin-top: 1vh;
}